:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body{
  display: flex;
  justify-content: center;

}

#demoCanvas{
  position: relative;
  z-index: 1;
  margin-top: 2rem;
  border: 1px solid white;
  opacity: 0;
  /* width: 80vw; */
}

#title-screen{
  position: absolute;
  z-index: 2;
  border: 1px solid white;
  margin-top: 2rem;
  background-image: url("./assets/TITLE.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #484db9;
  width: 1500px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-screen button{
  margin-top: 5rem;
  font-size: 2rem;
}

/* light blue */
/* color: #17fff8; */

/* blue */
/* color: #179fff; */

/* green */
/* color:  #85fc52; */
/* color:  rgb(133, 252, 82); */

/* purple */
/* color:  #484db9 */
/* color:  rgb(72, 77, 185), 45%, 50%) */